h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}



.head,
.uli{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content__head,
.uli__content{
    text-align: end;
}

.tops{
    width: 19vw;
    text-align: start;
    color: #434343;
    font-weight: 100;
    margin-top: 20px;
}
.button{
    display: inline-block;
    background-color: #fff;
    color: #434343;
    padding: .2rem; 
    border: none;
    font-weight:100;
    font-size: 9px;
    transition: .3s;
}
.button:hover{
    cursor: pointer;
    color: #000;
}

.button__add:hover,
.button__change:hover,
.button__remove:hover{
    transform: translateY(.25rem);
}

.li__button{
    width: 1.5rem;
    margin-right: 5px;
    border-radius: 1rem;
}

.li__component{
    text-align: left;
}
